.d-flex-show {
  display: flex;

  .show-col-left {
    width: auto;
    flex-grow: 1 !important;
  }

  .show-col-right {
    width: 339.88px;
    height: min-content;
  }
}

@media (max-width: 990px) {
  .d-flex-show {
    display: block;
  }

  .show-col-right {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
}

.flatpickr-calendar {
  box-shadow: none !important;
}


.col-flex {
  flex: auto 0 0;
}
