<div class="container">
  <h1 class="mt-3"><%= @article.title %></h1>
  <p><%= @article.address %></p>
  <% if @article.pictures.count >= 5 %>
    <%= render "shared/grid_pictures", article: @article %>
  <% elsif @article.pictures.count >= 1 %>
    <%= render "shared/grid_pictures_#{@article.pictures.count}", article: @article %>
  <% end %>
</div>
